body{
    background-color: #EEE9DA;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0px;
    
}

hr{
    border-style: none;
    height: 0px;
    border-top: dotted #40513B;
    border-width: 5px;
    width: 15%;
    
    
}

h1{
    color: black;
    
}

h6{
    color: black;
    font-size: 12px;
}

h3{
    color: #395B64;
    font-size: 22px;
}

p{
    color: #395B64;
}

a{
    color: #395B64;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.main{
    background-color: #A5C9CA;
    width: 100%;
    height: 750px;
    display:flex;
    
}

.headimg{
    
    justify-content: center;
    padding-left: 150px;
    padding-top: 300px;
    padding-right: 50px;
    margin: 0px;
    flex:0;
    border: 2px;
}
.headtxt{
    padding-top: 300px;
    padding-right: 50px;
    margin: 0px;
    flex:4;

}
.pic{
    border-radius: 50%;
    width: 150px;
}
