body{
    background-color: #ecded1;
    font-family: "Lucida Console", "Courier New", monospace;
    margin: 0px;
    
}

hr{
    border-style: none;
    height: 0px;
    border-top: dotted #dfc9b4;
    border-width: 5px;
    width: 15%;
    
    
}

h1{
    color: black;
    
}

h6{
    color: black;
    font-size: 12px;
}

h3{
    color: #395B64;
    font-size: 22px;
}

p{
    color: #395B64;
}

a{
    color: #395B64;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
}

.main{
    background-image: url(images/Download\ free\ image\ of\ Abstract\ beige\ wallpaper\ background\ image\ \ by\ Nunny\ about\ sand\ watercolor\,\ gradient\ earth\ tone\,\ earth\ tone\,\ earth\ tone\ abstract\ watercolor\,\ and\ wallpaper\ 2620460.jpeg);
    width: 100%;
    height: 750px;
    display:flex;
    
    background-repeat: no-repeat;
    background-size: cover;
    
}


.headimg{
    
    justify-content: center;
    padding-left: 150px;
    padding-top: 300px;
    padding-right: 50px;
    margin: 0px;
    flex:0;
    border: 2px;
}
.headtxt{
    padding-top: 300px;
    padding-right: 50px;
    margin: 0px;
    flex:4;

}
.pic{
    border-radius: 50%;
    width: 150px;
}
.nav{
    display: flex;
    
    width: 100%;
    align-items: center;
    height: 50px;
    
}

.nava{
    padding: 20px;
    width: 100%;
}

.nava:hover{
    color: rgba(211,180,151,255);
    font-size: 125%;
    
}
.me{
    padding-left:60px ;
}